name: CI

on:
  schedule:
    - cron:  '*/5 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: eregon/use-ruby-action@v1
      with:
        ruby-version: 2.6
    - run: ruby -v
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
    - name: Build and test with cuucmber
      run: |
        gem install bundler
        bundle install
        bundle exec cucumber
